.notification_container{
    margin-right: 7.5rem;
}

.notification_popup{
    margin-top: 5rem;
    background: var(--color-dark);
    left: 110%;
    width: 49rem;
    max-height: max-content ;
    padding: 1rem 0.8rem;
    border-radius: 1rem;
    font-size: larger;
}

/* .notification_popup::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    top: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
    z-index: -10;
} */

.notification_popup > div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0 1rem 1rem;
    width: 46rem;
    height: max-content;
    background-color: rgb(61, 62, 75);
    border-radius: 1rem;
    padding: 8px 5px;
    color: rgb(154, 151, 151);
}

.notification_body b{
    color: white;
}
