/* td img{
    width: 50%;
    margin-left: 5rem;
}

table{
    margin-left: 5rem;
    text-align: center;
    color: white;
}

h1{
    text-align: center;
} */

/* input{
    border: 1px solid black;
    margin: 0 0 2rem 10rem;
    width: 30rem;
} */
