.userContainer{
    background-color: #323c51;
    width: 40rem;
    border-radius: 0 2rem 2rem 0;
    margin: 5rem 0 0 2rem;
}

.messageHead{
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 2rem;
}

.msg_persion{
    margin: 0 6px 0.6rem ;
}
.msg_persion h6{
    color: rgb(100, 99, 99);
    font-size: 12px;
    font-weight: 600;
    line-height: 6px;
}
.icons{
    margin-left: 15rem;   
}

.icons i{
    margin-left: 10px;
    font-size: 2rem;
    color: rgb(111, 110, 110);
}

.messagebody{
    height: 30rem;
    padding: 7px 10px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inbox{
    background-color: #39445b;
    height: 25rem;
    margin: 0 auto;
    width: 37rem;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 5px;
}
.inbox p{
    background-color: rgb(59, 62, 241);
    border-radius: 7px 7px 1px 7px;
    width: 20rem;
    padding: 10px;
}

.sendMessage{
    height: 3rem;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.more{
    background-color: rgba(75, 75, 75, 0.9);
    border-radius: 12px;
    text-align: center;
    padding: 7.5px;
    width: 2.7rem;
    color: white;

}

.input_bar{
    border: 2px solid blue;
    margin: 0 1rem;
    width: 30rem;
    border-radius: .8rem;
    background-color: transparent;
}

.bg{
    background-color: rgb(53, 82, 247);
    width: 2.5rem;
    height: 2.5rem;
    border: none;
}

.ioio{
   font-size: 1.3rem;
   padding-top: 4px;
}





