.profile_container{
    margin-top: 5rem;
    background-color: rgb(37, 37, 77);
    height: 23rem;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    border-radius: 1rem;
    color: white;   
}

.profile_container::before{
    content: "";
    height: 90px;
    translate: 0 -141px;
    width: 288px;
    background-color: #4a8df8;
    border-radius: 1rem 1rem 0 0;
    position: absolute;
}

.user-photo{
    margin-top: 40px;
    width: 3.4rem;
    position: relative;
    border: 2px solid rgb(62, 62, 230);
}

.user_card{
    margin-top: 1rem;
    line-height: 1.5rem;
}
.user_card h6{
    color: #595b5f;
}

.user_card p{
    width: 15rem;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}

.info{
    column-gap: 3rem;
    margin-top: .5rem;

}

hr{
    width: 18rem;
    margin-top: 1rem;
    background-color: rgb(29, 26, 45);
}




